.tabs-container-scroll {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 20px;
    background-color: var(--changeColor);
}
.tabs-col {
    padding-top: 10px;
    padding-bottom: 10px;
}
#b1 {
    background-color: #5e4fdb;
    justify-content: center;
    color: white;
}
#b2 {
    background-color: #f3f2fc;
    justify-content: center;
    color: rgb(233, 220, 220);
}
#b3 {
    background-color: #1abc9c;
    justify-content: center;
    color: white;
}
#b4 {
    background-color: #d64b4b;
    justify-content: center;
    color: white;
}
#b5 {
    background-color: #852121;
    justify-content: center;
    color: white;
}
#b6 {
    background-color: #ffe3e3;
    justify-content: center;
    color: white;
}
#b7 {
    background-color: #c06801;
    justify-content: center;
    color: white;
}
#b8 {
    background-color: #fff7e3;
    justify-content: center;
    color: white;
}
#b9 {
    background-color: #0e4316;
    justify-content: center;
    color: white;
}
#b10 {
    background-color: #e1efe1;
    justify-content: center;
    color: white;
}
#b11 {
    background-color: #000000;
    justify-content: center;
    color: white;
}
#b12 {
    background-color: #ffffff;
    justify-content: center;
    color: rgb(233, 225, 225);
}
#b13 {
    background-color: #808080;
    justify-content: center;
    color: white;
}
#b14 {
    background-color: #d8d8d8;
    justify-content: center;
    color: rgb(211, 206, 206);
}
#b15 {
    background-color: #f0f0f0;
    justify-content: center;
    color: rgb(213, 204, 204);
}
#b16 {
    background-color: #f6f6f6;
    justify-content: center;
    color: rgb(211, 197, 197);
}

.header {
    background-color: #8adff6;
    padding-bottom: 3px;
    padding-top: 5px;
    margin-bottom: 35px;
    text-align: "center";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.footer {
    background-color: #8adff6;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 35px;
    padding: 65px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 25px;
    padding-top: 15px;
    p {
        font-size: 16px;
    }
}
